@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background: linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%);
}

.top input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8C8C8C;
  padding: 1rem;

}

.input-group input{
  width: 20vh;
  height: 3vh;
  border-radius: 0rem;

}
.input-group placeholder{
  color: red;
}
.input-group button {
  width: 2.5em;
  height: 2.5em;
  margin-left: 1rem;
}
